# Connecting to SQLite in python
Once we have sqlite3 imported, we will need to connect to a database. We can use `sqlite3.connect()` API.

In [ ]:
import sqlite3

# Make a connection to the SQLite database
connection = sqlite3.connect('example.db')

# Creating a Cursor object
With `sqlite3.connect()` we stablish a connection to the SQLite databse "example.db". 
- Represent a database cursor. 
- Call statements to our SQLite database. 
- Return the data in our python environment. We create a cursor object by using the cursor method from the connection class.

In [ ]:
cursor = connection.cursor()

# Executing SQL statements in Python
Once created the connection and the cursor, we can then use the `execute()` method to our cursor object to execute SQL statements. 

## Create A Table
CREATE TABLE command to create a table with a cursor.

In [ ]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS toys (
        id INTEGER PRIMARY KEY, 
        name TEXT NOT NULL, 
        price REAL NOT NULL, 
        type TEXT NOT NULL,
    )           
''')

## Insert Data
We can insert data into a table by using the INSERT INTO command from SQL.

In [ ]:
cursor.execute('''
    INSERT INTO toys (name, price, type) VALUES
    ('Teddy Bear', 19.99, 'Stuffed Animal'),
    ('Lego Set', 49.99, 'Building Blocks'),
    ('Action Figure', 14.99, 'Figurine'),
    ('Puzzle', 9.99, 'Board Game')               
''')

# Inserting Multiple Rows with .executemany()
We can insert multiple rows instead of just one by using `executemany()`. It is needed to place ? marks as the fields of the table in order to be replaced by the items marked in the list.

In [ ]:
# Insert multiple values into table at once
new_students = [(102, 'Joe', 32, '2022-05-16', 'Pass'),
           (103, 'Stacy', 10, '2022-05-16', 'Pass'),
           (104, 'Angela', 21, '2022-12-20', 'Pass'),
           (105, 'Mark', 21, '2022-12-20', 'Fail'),
           (106, 'Nathan', 21, '2022-12-20', 'Pass')
           ]
# Insert values into the students table
cursor.executemany(
    '''INSERT INTO students VALUES (?,?,?,?,?)''', 
    new_students
)